<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  
  <ion-card *ngFor="let item of getdataservice.data">
    <ion-card-header>
      <ion-card-title>{{item.titel}}</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{item.beginn}} - {{item.ende}}
      Global Counter: {{ getdataservice.counter}}
    </ion-card-content>
  </ion-card>

  <ion-button (click)="getdataservice.incrementCounter()">Increment</ion-button>
  <ion-button (click)="getdataservice.decrementCounter()">Decrement</ion-button>
</ion-content>
